{% template main %}
{% assign first_column_label_width = "w--28 no-shrink" %}
{% assign dual_column_label_width = "w--28 no-shrink" %}
{% assign flavour_cls = "description description--large lg:description--xxlarge bg--gray-20 text--white rounded rounded--small m--0_5 p--1 pl--2 pr--2" %}
{% assign name_cls = "p--3" %}
{% if view == 1 %}
    {% assign lbl_cls = "label label--base lg:label--large pl--2 pr--3 pt--1 pb--1 m--0_5" %}
    {% assign val_cls = "description description--large lg:description--xxlarge bg--white rounded rounded--small m--0_5 p--1 pl--2 pr--2" %}
    {% assign gap = "gap--none md:gap--none lg:gap--small" %}
{% else %}
    {% assign lbl_cls = "label label--small lg:label--base m--0_5" %}
    {% assign val_cls = "description description--base lg:description--large bg--white rounded rounded--small p--1 pl--2 pr--2" %}
    {% assign gap = "md:gap--xsmall lg:gap--small portrait:gap--none lg:portrait:gap--small" %}
    {% assign name_cls = "p--2" %}

    {% if view == 2 %}
        {% assign first_column_label_width = "w--24 no-shrink" %}
        {% assign dual_column_label_width = "w--24 no-shrink" %}
    {% elsif view == 3 %}
        {% assign first_column_label_width = "w--24 no-shrink" %}
        {% assign dual_column_label_width = "w--24 no-shrink" %}
        {% assign gap = "gap--xsmall md:gap--xsmall portrait:gap--xsmall lg:portrait:gap--small" %}
    {% elsif view == 4 %}
        {% assign first_column_label_width = "w--24 no-shrink" %}
        {% assign dual_column_label_width = "w--24 no-shrink" %}
    {% endif %}
{% endif %}

<script>var __lcn = {{ items | json }};</script>

<div class="layout h--full
  {% if view == 1 %}
  layout--row gap--small
  {% elsif view == 2 %}
  layout--row gap--small
  {% elsif view == 3 %}
  layout--col gap--small
  {% elsif view == 4 %}
  layout--row gap--small p--1
  {% endif %}">
  <img class="lcn-img image image-dither image--contain h--full rounded
    {% if view == 1 %}    portrait:hidden lg:portrait:block
    {% elsif view == 2 %}
    {% elsif view == 3 %} portrait:hidden lg:hidden
    {% elsif view == 4 %} portrait:hidden
    {% endif %}"
    alt="">
  <img class="lcn-img image image-dither image--contain w--full rounded p--2
    {% if view == 1 %}    hidden portrait:block lg:portrait:hidden
    {% elsif view == 2 %} hidden
    {% elsif view == 3 %} hidden portrait:block lg:block
    {% elsif view == 4 %} hidden portrait:block
    {% endif %}"
    alt="">

  <div class="flex--col stretch-x w--full h--full 4bit:bg--gray-75 2bit:bg--gray-75 bg--gray-75 p--1 lg:p--2 m--1 outline rounded {{gap}}
    {% if view == 1 %}   flex portrait:hidden
    {% elsif view == 2 %}flex portrait:hidden lg:portrait:flex
    {% elsif view == 3 %}hidden portrait:flex
    {% elsif view == 4 %}flex portrait:hidden portrait:m::flex lg:portrait:hidden
    {% endif %}" data-overflow="true">
    <div class="label rounded rounded--small  w--full text--stroke lcn-name no--shrink {{name_cls}}
      {% if view == 1 %}
      label--large lg:label--xlarge
      {% elsif view == 2 %}
      label--large lg:label--xlarge
      {% elsif view == 3 %}
      label--large lg:label--xlarge
      {% elsif view == 4 %}
      label--base lg:label--large
      {% endif %}" data-clamp="2"></div>

    {% if view == 1 %}
    <div class="item lcn-release-date-row hidden">
      <div class="content flex flex--row flex--center-y gap--small">
        <span class="{{ lbl_cls }} {{first_column_label_width}}">{{ labels.released }}</span>
        <span class="{{ val_cls }} lcn-release-date"></span>
      </div>
    </div>
    <div class="item lcn-ink-row hidden">
      <div class="content flex flex--row flex--center-y gap--small">
        <span class="{{ lbl_cls }} {{first_column_label_width}}">{{ labels.ink }}</span>
        <span class="{{ val_cls }} lcn-ink"></span>
      </div>
    </div>
    <div class="item lcn-rarity-row hidden">
      <div class="content flex flex--row flex--center-y gap--small">
        <span class="{{ lbl_cls }} {{first_column_label_width}}">{{ labels.rarity }}</span>
        <span class="{{ val_cls }} lcn-rarity"></span>
      </div>
    </div>
    {% endif %}

    {% if view == 1 %}
    <div class="item lcn-type-row hidden">
      <div class="content flex flex--row flex--center-y gap--small">
        <span class="{{ lbl_cls }} {{first_column_label_width}}">{{ labels.type }}</span>
        <span class="{{ val_cls }} lcn-type"></span>
      </div>
    </div>
    <div class="item lcn-artist-row hidden">
      <div class="content flex flex--row flex--center-y gap--small">
        <span class="{{ lbl_cls }} {{first_column_label_width}}">{{ labels.artist }}</span>
        <span class="{{ val_cls }} lcn-artist"></span>
      </div>
    </div>
    {% endif %}

    <div class="w--full {{gap}} p--0 m--0 mt--1 {% if view == 1 or view == 2 %}grid {% if view == 2 %}grid--cols-2 lg:portrait:grid--cols-1{% else %}grid--cols-2{% endif %} gap--none{% else %}flex flex--col{% endif %}">
      {% if view == 2 %}
      {{- '<!-- info -->' }}
      <div class="item lcn-ink-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.ink }}</span>
          <span class="{{ val_cls }} lcn-ink"></span>
        </div>
      </div>
      <div class="item lcn-rarity-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.rarity }}</span>
          <span class="{{ val_cls }} lcn-rarity"></span>
        </div>
      </div>
      {{- '<!-- stats -->' }}
      <div class="item lcn-cost-row hidden {% if view == 4 %} md:hidden lg:flex {% endif %}">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.cost }}</span>
          <span class="{{ val_cls }} lcn-cost"></span>
        </div>
      </div>
      <div class="item lcn-lore-row hidden {% if view == 4 %}md:hidden lg:flex {% endif %}">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.lore }}</span>
          <span class="{{ val_cls }} lcn-lore"></span>
        </div>
      </div>
      <div class="item lcn-str-row hidden {% if view == 4 %}md:hidden lg:flex {% endif %}">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.str }}</span>
          <span class="{{ val_cls }} lcn-str"></span>
        </div>
      </div>
      <div class="item lcn-will-row hidden {% if view == 4 %}md:hidden lg:flex {% endif %}">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.will }}</span>
          <span class="{{ val_cls }} lcn-will"></span>
        </div>
      </div>
      {{- '<!-- more info -->' }}
      <div class="item lcn-set-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.set }}</span>
          <span class="{{ val_cls }} lcn-set"></span>
        </div>
      </div>
      <div class="item lcn-type-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.type }}</span>
          <span class="{{ val_cls }} lcn-type"></span>
        </div>
      </div>
      <div class="item lcn-release-date-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.released }}</span>
          <span class="{{ val_cls }} lcn-release-date"></span>
        </div>
      </div>
      <div class="item lcn-inkable-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.inkable }}</span>
          <span class="{{ val_cls }} lcn-inkable"></span>
        </div>
      </div>
      {% endif %}

      {% if view == 3 %}
      <div class="item lcn-release-date-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.released }}</span>
          <span class="{{ val_cls }} lcn-release-date"></span>
        </div>
      </div>
      <div class="item lcn-ink-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.ink }}</span>
          <span class="{{ val_cls }} lcn-ink"></span>
        </div>
      </div>
      <div class="item lcn-rarity-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.rarity }}</span>
          <span class="{{ val_cls }} lcn-rarity"></span>
        </div>
      </div>
      <div class="item lcn-set-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.set }}</span>
          <span class="{{ val_cls }} lcn-set"></span>
        </div>
      </div>
      <div class="item lcn-type-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.type }}</span>
          <span class="{{ val_cls }} lcn-type"></span>
        </div>
      </div>
      {% endif %}

      {% if view == 4 %}
      <div class="item lcn-ink-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.ink }}</span>
          <span class="{{ val_cls }} lcn-ink"></span>
        </div>
      </div>
      <div class="item lcn-rarity-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.rarity }}</span>
          <span class="{{ val_cls }} lcn-rarity"></span>
        </div>
      </div>
      <div class="item lcn-set-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.set }}</span>
          <span class="{{ val_cls }} lcn-set"></span>
        </div>
      </div>
      {% endif %}

      {% unless view == 2 %}
      <div class="item lcn-cost-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.cost }}</span>
          <span class="{{ val_cls }} lcn-cost"></span>
        </div>
      </div>
      <div class="item lcn-lore-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.lore }}</span>
          <span class="{{ val_cls }} lcn-lore"></span>
        </div>
      </div>
      <div class="item lcn-str-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.str }}</span>
          <span class="{{ val_cls }} lcn-str"></span>
        </div>
      </div>
      <div class="item lcn-will-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.will }}</span>
          <span class="{{ val_cls }} lcn-will"></span>
        </div>
      </div>
      {% endunless %}

      {% if view == 1 %}
      <div class="item lcn-inkable-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.inkable }}</span>
          <span class="{{ val_cls }} lcn-inkable"></span>
        </div>
      </div>
      {% endif %}

      {% if view == 3 %}
      <div class="item lcn-inkable-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.inkable }}</span>
          <span class="{{ val_cls }} lcn-inkable"></span>
        </div>
      </div>
      <div class="item lcn-artist-row hidden">
        <div class="content flex flex--row flex--center-y gap--small">
          <span class="{{ lbl_cls }} {{dual_column_label_width}}">{{ labels.artist }}</span>
          <span class="{{ val_cls }} lcn-artist"></span>
        </div>
      </div>
      {% endif %}
    </div>


    {% if view == 1 %}{% assign flavor_clamp = 3 %}{% else %}{% assign flavor_clamp = 2 %}{% endif %}
    <div style="flex:1 1 0"></div>
    <div class="item lcn-flavor-row content hidden">
      <div class="{{flavour_cls}} w--full lcn-flavor" data-clamp="{{ flavor_clamp }}" style="font-style:italic"></div>
    </div>
  </div>
</div>

<div class="title_bar
  {% if view == 1 %}
  lg:portrait:hidden
  {% elsif view == 3 %}
  hidden lg:flex lg:portrait:hidden
  {% elsif view == 4 %}
  hidden
  {% endif %}">
  <img class="image h--8" src="https://github.com/ExcuseMi/trmnl-lorcana-cards-plugin/blob/main/assets/logo.png?raw=true" alt="Lorcana">
  <span class="title lcn-title text--stroke"></span>
  {% if pool_warning %}<span class="label label--warning">{{ pool_warning }} cards</span>{% endif %}
  <span class="instance lcn-instance text--stroke
    {% if view >= 3 %}
    md:portrait:hidden
    {% endif %}"></span>
</div>

<script>
  function parseISODate(dateStr) {
    const [year, month, day] = dateStr.split('-').map(Number);
    return new Date(year, month - 1, day);
  }

  function strftime(date, formatStr) {
    const pad = (n) => String(n).padStart(2, '0');
    const replacements = {
      '%Y': date.getFullYear(),
      '%m': pad(date.getMonth() + 1),
      '%d': pad(date.getDate())
    };
    return formatStr.replace(/%[Ymd]/g, (match) => replacements[match] || match);
  }

  (function() {
    var views = Array.from(document.querySelectorAll('.view'));
    var host  = document.currentScript.closest('.view') || document.body;
    var pool  = __lcn || [];
    var idx   = views.indexOf(host) % 4;
    var item  = pool.length ? pool[idx % pool.length] : null;
    var name  = '{{ trmnl.plugin_settings.instance_name | escape }}';
    function q(sel) { return host.querySelector(sel); }

    var titleEl = q('.lcn-title');
    var instEl  = q('.lcn-instance');

    if (!item || !item.image) {
      if (titleEl) titleEl.textContent = name;
      return;
    }

    host.querySelectorAll('.lcn-img').forEach(function(img) {
      img.src = item.image;
      img.alt = item.name || '';
    });

    var nameEl = q('.lcn-name');
    if (nameEl) nameEl.textContent = item.name || '';

    function rarityClass(r) {
      r = (r || '').toLowerCase();
      if (r === 'enchanted') {
        return 'bg--red ' +
               '1bit:text--white 1bit:bg--black ' +
               '2bit:text--white 2bit:bg--black ' +
               '4bit:text--white 4bit:bg--black';
      }
      if (r === 'legendary') {
        return 'bg--yellow ' +
               '1bit:text--white 1bit:bg--gray-30 ' +
               '2bit:text--white 2bit:bg--gray-30 ' +
               '4bit:text--white 4bit:bg--gray-30';
      }
      if (r === 'super rare') {
        return 'bg--yellow-50 ' +
               '1bit:text--white 1bit:bg--gray-40 ' +
               '2bit:text--white 2bit:bg--gray-40 ' +
               '4bit:text--white 4bit:bg--gray-40';
      }
      if (r === 'rare') {
        return 'bg--yellow-50 ' +
               '1bit:text--white 1bit:bg--gray-40 ' +
               '2bit:text--white 2bit:bg--gray-40 ' +
               '4bit:text--white 4bit:bg--gray-40';
      }
      return 'bg--gray-65 text--stroke';
    }

    if (nameEl) {
      rarityClass(item.rarity).trim().split(/\s+/).forEach(function(cls) {
        if (cls) nameEl.classList.add(cls);
      });
    }

    function show2(key, value, extraClass) {
      if (!value && value !== 0) return;
      var val = q('.lcn-' + key);
      var row = q('.lcn-' + key + '-row');
      if (val) {
        val.textContent = String(value);
        if (extraClass) {
          extraClass.trim().split(/\s+/).forEach(function(cls) {
            if (cls) val.classList.add(cls);
          });
        }
      }
      if (row) row.classList.remove('hidden');
    }

    show2('ink', item.color);
    show2('rarity', item.rarity);
    show2('cost', item.cost != null ? item.cost + ' ◆' : '');
    show2('lore', item.lore != null ? item.lore + ' ◆' : '');
    show2('str', item.strength);
    show2('will', item.willpower);
    show2('type', item.classifications
      ? [item.type].concat(item.classifications).filter(Boolean).join(' · ')
      : item.type);
    show2('inkable', item.inkable ? 'Yes' : 'No');
    show2('artist', item.artist);
    show2('set', item.set_name || '');

    if (item.set_release_date) {
      var format = {{ trmnl.plugin_settings.custom_fields_values.date_format | default: "%Y-%m-%d" | json }};
      show2('release-date', strftime(parseISODate(item.set_release_date), format));
    }

    if (item.flavor_text) {
      var flavorEl = q('.lcn-flavor');
      var flavorRow = q('.lcn-flavor-row');
      if (flavorEl) flavorEl.textContent = item.flavor_text;
      if (flavorRow) flavorRow.classList.remove('hidden');
    }

    if (titleEl) titleEl.textContent = item.name || '';
    if (instEl)  instEl.textContent  = item.set_name || '';
  })();
</script>

{% endtemplate %}
